.how-to-use {
	/* display: flex;
	flex-direction: row; */
	background-image: url('../header.jpg');
	border-top: 5px solid rgb(200, 55, 26);
	border-bottom: 5px solid rgb(200, 55, 26);
}

.header {
	display: flex;
	flex-direction: row;
	background-color: rgba(51, 51, 51, 0.5);
}

header {
	width: 65%;
	text-align: center;
	color: white;
	font-size: 15px;
	text-shadow: black 2px 1px;
	/* background-color: rgba(51, 51, 51, 0.5); */
	padding: 0px 0px 0px 50px;
}

h2 {
	padding: 2px;
	margin: 2px;
}

form {
	width: auto;
	height: 200px;
	padding: 20px;
	color: white;
	text-align: center;
}

input {
	margin: 5px;
	width: 220px;
	padding: 0 5px;
}

button {
	background-color: rgb(200, 55, 26);
	border: none;
	color: white;
}

.homepage-image img {
	width: 100%;
	background-image: rgba(225, 225, 225, 0.3);
}

@media only screen and (min-width: 320px) and (max-width: 648px) {
	.how-to-use {
		flex-direction: column;
		height: auto;
	}

	header {
		width: auto;
		text-align: center;
		color: white;
		font-size: 12px;
		padding: 0 10px;
		margin: 0;
	}

	.header {
		flex-direction: column;
	}
	input {
		margin: 10px auto;
		width: 280px;
		padding: 0 5px;
		height: 30px;
		font-size: 14px;
	}

	button {
		margin: 11px auto;
		height: 35px;
		width: 108px;
		font-size: 14px;
	}
}

@media screen and (max-width: 340px) {
	input {
		padding: 0;
	}
}
