.card {
	box-shadow: 0 4px 8px 0 gray;
	width: 300px;
	height: 470px;
	text-align: center;
	padding: 5px;
	border: solid black 15px;
	border-radius: 10px;
}

.card img {
	width: 100%;
	height: 50%;
	border: gray;
	padding: 0;
	margin-top: 2px;
}

p {
	height: 130px;
	background-color: rgba(245, 245, 245, 0.8);
	border: solid rgb(56, 43, 43) 3px;
	padding: 5px;
	margin: 5px;
	color: gray;
	text-shadow: none;
	text-align: left;
	border-style: inset;
	overflow: wrap;
}

.card ul {
	margin: 0;
	padding: 0;
}

.card li {
	margin: 0;
	padding: 0;
}

ul.title {
	overflow: hidden;
	display: grid;
	justify-self: center;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'card-name cost';
	/* grid  */
}

li.card-name {
	text-align: left;
	float: left;
	grid-area: card-name;
}

li.card-cost {
	/* width: 160px; */
	margin: 0;
	/* padding: 0px 0px 0px 0px; */
	text-align: right;
	float: right;
	grid-area: cost;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 648px) {
	.card {
		max-width: 250px;
		max-height: 380px;
	}

	p {
		height: 80px;
		font-size: smaller;
	}
}
