.card {
	box-shadow: 0 4px 8px 0 gray;
	width: 280px;
	height: 400px;
	text-align: center;
	padding: 5px;
	border: solid black 15px;
	border-radius: 10px;
}

.cardImage {
	margin: 10px;
}

ul.title {
	overflow: hidden;
	display: grid;
	justify-self: center;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'card-name cost';
	/* grid  */
}

li.card-name {
	text-align: left;
	float: left;
	grid-area: card-name;
}

li.card-cost {
	/* width: 160px; */
	margin: 0;
	/* padding: 0px 0px 0px 0px; */
	text-align: right;
	float: right;
	grid-area: cost;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 648px) {
	.card {
		max-width: 250px;
		max-height: 380px;
	}

	p {
		height: 80px;
		font-size: smaller;
	}
}
