.how-to-use {
	display: flex;
	flex-direction: row;
	background-color: rgb(42, 57, 104);
}
header {
	width: 65%;
	text-align: center;
	color: white;
}

form {
	width: auto;
	height: 200px;
	padding: 20px;
	color: white;
	text-align: center;
}

input {
	margin: 5px;
}

button {
	background-color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 648px) {
	.how-to-use {
		flex-direction: column;
	}
	header {
		width: 100%;
	}

	form {
		width: 100%;
	}
}
