.cards-nav {
	background-color: gray;
}

.cards-ul {
	list-style-type: none;
	margin: 0;
	padding: 0px 30px;
	overflow: hidden;
}

.cards-ul li {
	float: left;
}

.cards-ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 30px;
	text-decoration: none;
}
