.how-to-use {
	display: flex;
	flex-direction: row;
	background-image: url('../header.jpg');
	border-top: 5px solid rgb(200, 55, 26);
	border-bottom: 5px solid rgb(200, 55, 26);
}

.search-bar {
	background-color: rgba(51, 51, 51, 0.5);
}

header {
	width: 65%;
	text-align: center;
	color: white;
	font-size: 15px;
	text-shadow: black 2px 1px;
	background-color: rgba(51, 51, 51, 0.5);
	padding: 0px 0px 0px 50px;
}

h2 {
	padding: 2px;
	margin: 2px;
}

form {
	width: auto;
	height: 200px;
	padding: 20px;
	color: white;
	text-align: center;
}

input {
	margin: 5px;
}

button {
	background-color: rgb(200, 55, 26);
	border: none;
	color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 648px) {
	.how-to-use {
		flex-direction: column;
	}
	header {
		width: 100%;
		font-size: 12px;
	}

	form {
		flex-grow: 1;
	}
}
