.cards-nav {
	background-color: rgba(231, 231, 231);
	border-bottom: solid white 1px;
}

.cards-ul {
	list-style-type: none;
	margin: 0;
	padding: 0px 30px;
	overflow: hidden;
}

.cards-ul li {
	float: left;
}

.cards-ul li a {
	display: block;
	color: black;
	text-align: center;
	padding: 10px 30px;
	text-decoration: none;
}
