CreateCard .main {
	display: flex;
	flex-direction: row;
}

.card {
	box-shadow: 0 4px 8px 0 gray;
	width: 320px;
	height: 470px;
	text-align: center;
	padding: 5px;
	border: solid black 15px;
	border-radius: 10px;
}

.card img {
	width: 100%;
	height: 50%;
	border: gray;
	padding: 3px;
}

.Red {
	background-color: rgb(176, 80, 62);
}

.Blue {
	background-color: rgb(7, 164, 203);
}

.Green {
	background-color: rgb(42, 81, 35);
}

.Colorless {
	background-color: rgb(142, 114, 96);
}

.White {
	background-color: rgb(153, 132, 127);
}

.Black {
	background-color: rgb(42, 36, 34);
}

.White {
	background-color: rgb(224, 209, 189);
}

.Black.Red {
	background-image: linear-gradient(
		to right,
		rgb(42, 36, 34),
		rgb(176, 80, 62)
	);
}

.Black.White {
	background-image: linear-gradient(
		to right,
		rgb(42, 36, 34),
		rgb(224, 209, 189)
	);
}
.Black.Blue {
	background-image: linear-gradient(
		to right,
		rgb(42, 36, 34),
		rgb(7, 164, 203)
	);
}

.Black.Green {
	background-image: linear-gradient(to right, rgb(42, 36, 34), rgb(42, 81, 35));
}

.Green.Red {
	background-image: linear-gradient(
		to right,
		rgb(42, 81, 35),
		rgb(176, 80, 62)
	);
}

.Green.White {
	background-image: linear-gradient(
		to right,
		rgb(42, 81, 35),
		rgb(224, 209, 189)
	);
}
.Green.Blue {
	background-image: linear-gradient(
		to right,
		rgb(42, 81, 35),
		rgb(7, 164, 203)
	);
}
.Blue.Red {
	background-image: linear-gradient(
		to right,
		rgb(7, 164, 203),
		rgb(42, 36, 34)
	);
}
.Blue.White {
	background-image: linear-gradient(
		to right,
		rgb(7, 164, 203),
		rgb(224, 209, 189)
	);
}

.Red.White {
	background-image: linear-gradient(
		to right,
		rgb(42, 36, 34),
		rgb(224, 209, 189)
	);
}

p {
	height: 130px;
	background-color: rgba(245, 245, 245, 0.8);
	border: solid rgb(56, 43, 43) 3px;
	padding: 5px;
	margin: 5px;
	color: gray;
	text-shadow: none;
	text-align: left;
	border-style: inset;
}

h3 {
	height: 5px;
}

button {
	margin: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 648px) {
	.card {
		max-width: 250px;
		max-height: 380px;
	}

	p {
		height: 80px;
		font-size: smaller;
	}
}
