CreateCard .main {
	display: flex;
	flex-direction: row;
}

.wrap {
	min-width: 0px;
	width: auto;
	margin: auto;
	padding: 10px;
	display: inline-block;
}

.card {
	box-shadow: 0 4px 8px 0 gray;
	width: 320px;
	height: 470px;
	text-align: center;
	padding: 5px;
	border: solid black 15px;
	border-radius: 10px;
}

.card img {
	width: 100%;
	height: 50%;
	border: gray;
}

.card.Red {
	background-color: rgb(176, 80, 62);
}

.card.Blue {
	background-color: rgb(7, 164, 203);
}

.card.Green {
	background-color: rgb(42, 81, 35);
}

.card.undefined {
	background-color: rgb(142, 114, 96);
}

.card.White {
	background-color: rgb(153, 132, 127);
}

.card.Black.Red {
	background-image: linear-gradient(
		to right,
		rgb(176, 80, 62),
		rgb(42, 36, 34)
	);
}

button {
	margin: 5px;
}

p {
	text-align: left;
}
