ShowDeck {
	display: flex;
	flex-direction: row;
}

div.deck {
	min-width: 0px;
	width: auto;
	margin: auto;
	padding: 10px;
	display: inline-block;
}

.Red {
	background-color: rgb(176, 80, 62);
}

.Blue {
	background-color: rgb(7, 164, 203);
}

.Green {
	background-color: rgb(42, 81, 35);
}

.Colorless {
	background-color: rgb(142, 114, 96);
}

.White {
	background-color: rgb(153, 132, 127);
}

.Black {
	background-color: rgb(42, 36, 34);
}

.White {
	background-color: rgb(224, 209, 189);
}

.Black.Red {
	background-image: linear-gradient(
		to right,
		rgb(42, 36, 34),
		rgb(176, 80, 62)
	);
}

.Black.White {
	background-image: linear-gradient(
		to right,
		rgb(42, 36, 34),
		rgb(224, 209, 189)
	);
}
.Black.Blue {
	background-image: linear-gradient(
		to right,
		rgb(42, 36, 34),
		rgb(7, 164, 203)
	);
}

.Black.Green {
	background-image: linear-gradient(to right, rgb(42, 36, 34), rgb(42, 81, 35));
}

.Green.Red {
	background-image: linear-gradient(
		to right,
		rgb(42, 81, 35),
		rgb(176, 80, 62)
	);
}

.Green.White {
	background-image: linear-gradient(
		to right,
		rgb(42, 81, 35),
		rgb(224, 209, 189)
	);
}
.Green.Blue {
	background-image: linear-gradient(
		to right,
		rgb(42, 81, 35),
		rgb(7, 164, 203)
	);
}
.Blue.Red {
	background-image: linear-gradient(
		to right,
		rgb(7, 164, 203),
		rgb(42, 36, 34)
	);
}
.Blue.White {
	background-image: linear-gradient(
		to right,
		rgb(7, 164, 203),
		rgb(224, 209, 189)
	);
}

.Red.White {
	background-image: linear-gradient(
		to right,
		rgb(42, 36, 34),
		rgb(224, 209, 189)
	);
}