.deck-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.page-title h3 {
	width: 300px;
	margin: 5px auto;
	padding: 0;
	text-align: center;
}

@media screen and (max-width: 414px) {
	.cards {
		margin: 8px auto;
		display: inline-block;
	}
}

@media screen and (max-width: 320px) {
	.cards {
		margin: auto;
	}
}
