.mtg-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cards {
	margin: 20px 20px 8px 20px;
	padding: 0;
	width: auto;
	display: inline-block;
}

.cards button {
	margin: 10px 33%;
}

@media screen and (max-width: 414px) {
	.cards {
		margin: 8px auto;
	}

	.cards-nav {
		margin-bottom: 10px;
	}

	.cards button {
		margin: 10px 30%;
	}
}
