.logout {
	padding: 0 6px;
	margin: 0px 10px 0 10px;
	background-color: #bdbdbd;
	color: black;
	float: right;
	border-radius: 0;
	height: 22px;
}

.decks-navbar {
	display: flex;
	width: auto;
	margin: 10px auto;
	padding: 0;
	overflow: hidden;
	/* border: 1px solid #ccc; */
	background-color: #f1f1f1;
}

.deck-names {
	flex-grow: 1;
	color: black;
	margin: 1px auto;
	float: none;
	width: auto;
	background-color: inherit;
	border: none;
	outline: none;
	padding: 0px 6px;
	transition: 0.3s;
	border-radius: 0;
}

.deck-names:hover {
	background-color: rgb(146, 146, 146);
}

.deck-names.active {
	background-color: #ccc;
}

.name-of-deck {
	width: auto;
	margin: auto;
	text-align: center;
	font-size: 18px;
}

.welcome-user {
	margin: 10px;
	font-size: 14px;
}

@media screen and (max-width: 600px) {
	.deck-navbar {
		flex-direction: column;
	}
	.deck-names {
		font-size: 12px;
		height: auto;
	}
	.logout {
		height: auto;
	}
}

@media screen and (max-width: 500px) {
	.logout {
		height: 32px;
	}
}
