.decks-navbar {
	display: flex;
	width: auto;
	margin: 10px auto;
	padding: 0;
	overflow: hidden;
	/* border: 1px solid #ccc; */
	background-color: #f1f1f1;
}

.deck-names {
	flex-grow: 1;
	color: black;
	margin: 10px auto;
	float: none;
	width: auto;
	background-color: inherit;
	border: none;
	outline: none;
	padding: 0px 6px;
	transition: 0.3s;
	border-radius: 0;
}

.deck-names:hover {
	background-color: rgb(146, 146, 146);
}

.deck-names.active {
	background-color: #ccc;
}

.name-of-deck {
	width: auto;
	margin: auto;
	text-align: center;
	font-size: 18px;
}
