.navbar {
	background-color: black;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0px 58px 0px 0px;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}

@media screen and (max-width: 414px) {
	ul {
		padding: 0px 10px;
	}
}
