.register {
	width: auto;
	padding: 0px;
	margin: auto;
}

h2.welcome-user {
	padding: 0;
	margin: 20px auto;
	text-align: center;
}

.register form {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	color: black;
	text-align: center;
	margin: auto;
	padding: 0;
}

.register input {
	margin: 5px auto;
	padding: 3px;
	width: 300px;
}

.register button {
	margin: 10px auto;
}

.register p {
	border: none;
	width: auto;
	margin: 10px;
	padding: 0;
	background: transparent;
	text-align: center;
	color: black;
}
