.rules {
	margin: 30px;
	padding: 10px;
	width: auto;
}

.rules h2 {
	text-align: center;
}

.rules p {
	margin: 8px;
	padding: 0px;
	height: auto;
	width: auto;
	line-height: 16px;
}

.rules a {
	font-style: italic;
}
