form {
	background-color: rgba(51, 51, 51, 0.5);
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-areas:
		'. name .'
		'. type .'
		'. colors .'
		'. button .';
}

input {
	margin: 50px;
	height: 20px;
}

.name {
	grid-area: name;
}
.type {
	grid-area: type;
}
.colors {
	grid-area: colors;
}

button {
	grid-area: button;
	height: 20px;
	width: 100px;
	justify-self: center;
	border-radius: 5px;
}
